button {
    width: 90px;
    height: 30px;
    border-radius: 12%;
    background-color: black;
    color: burlywood;
}
img {
    width: 600px;
    height: 600px;
    background-size: cover;
}
#a{
    width: 650px;
    height: 850px;
    padding-top: 10px;
    border: 2px solid black;
    background-color: antiquewhite;
}